/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Macondo&display=swap');

/* CSS Variables */

:root {
    --primary-font: "Inter", sans-serif;
    --secondary-font: "Macondo", cursive; 
    --primary-color:#416a8e;
    --secondary-color:#aa9581;
    --highlight-color:#416a8e;
    --highlight-color-light:#7a9fc2;
}

/* Global Variables */

body {
    font-family: var(--primary-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    /* to push footer to the bottom of the page */
    margin-top: auto;
}

h1,
h2,
h3 {
    font-family: var(--secondary-font);
    color: var(--secondary-color);
}

h1, 
h2 {
    text-transform: uppercase;
}

h2 {
    margin-bottom: 2rem;
}

.sub-heading-color {
    color: var(--highlight-color);
}

.section {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* Navigation */

#navigation {
    background-color: var(--secondary-color);
}

.logo {
    width: 30px;
}

/* Header */

#header .lead {
    font-family: var(--secondary-font);
}

/* Services */

#services .card {
    margin-bottom: 1.5rem;
}

#services .card-footer {
    font-weight: bold;
    color: var(--highlight-color);
    background-color: transparent;
}

@media screen and (min-width:768px) {
    #services .card-body {
        min-height: 169px;
    }
}

@media screen and (min-width:992px) {
    #services .card-body {
        min-height: auto;
    }
}

@media screen and (min-width:1200px) {
    #services .card-body {
        min-height: 194px;
    }
}

@media screen and (min-width:1400px) {
    #services .card-body {
        min-height: 195px;
    }
}

/* Game Library */

#new-games .card, 
#fav-games .card {
    border: none;
}



/* grid visualisation CSS for testing */

/* .container,
.row {
    border: 2px solid black;
}

.col-12 {
    border: 2px solid white;
    background-color: lightblue;
} */